

a{
    color: var(--natural-color);
    padding: 0 1.5rem 0 1.5rem ;
    transition: 0.3s;
}

.facebook:hover{
    color: #4267B2;
}

.instagram:hover{
    color: lightcoral;
}

.linked-in:hover{
    color:  #0e76a8;
}

.github:hover{
    color: #333;
}

.twitter:hover{
    color: #1DA1F2;
}

@media (max-width: 750px){
    a{
        padding: 0 1rem 0 1rem;
    }
}